ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li {
    float: left;
  }
  
  a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
  }

  table {
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid black;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
tr:nth-child(odd) {
    background-color: #b5c0d1;
}
th {
    background-color: #073763;
    color: white;
}